hungrybot/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:oauth="http://www.mulesoft.org/schema/mule/oauth" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:slack="http://www.mulesoft.org/schema/mule/slack" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/slack http://www.mulesoft.org/schema/mule/slack/current/mule-slack.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/oauth http://www.mulesoft.org/schema/mule/oauth/current/mule-oauth.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="api" doc:id="b4653183-3e1f-4e9e-99af-55842582d0fd" >
		<http:listener doc:name="Listener" doc:id="be1200f2-9077-449f-9d0f-7c0d1975d538" config-ref="HTTP_Listener_config" path="/bot"/>
		<flow-ref doc:name="global-closedYN" doc:id="625f169d-1788-4d84-83bf-2ee6343857f7" name="global-closedYN" target="closedYN"/>
		<choice doc:name="Choice" doc:id="ccc64ce1-3e5d-4d4d-8959-aca87670dd8b" >
			<when expression="#[vars.closedYN == false]">
				<ee:transform doc:name="Transform Message" doc:id="4134605c-4342-49ef-98c2-c5e630447634">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload pluck {
	id: $$,
	name: $
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<ee:transform doc:name="create cdm" doc:id="329ef027-a4b8-4999-bce1-acba0cd11e6a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
slack: {
	token: (payload filter $.id == "token").name[0],
	team_id: (payload filter $.id == "team_id").name[0],
	team_domain: (payload filter $.id == "team_domain").name[0],
	channel_id: (payload filter $.id == "channel_id").name[0],
	channel_name: (payload filter $.id == "channel_name").name[0],
	user_id: (payload filter $.id == "user_id").name[0],
	user_name: (payload filter $.id == "user_name").name[0],
	text: (payload filter $.id == "text").name[0],
	response_url: (payload filter $.id == "response_url").name[0],
	trigger_id: (payload filter $.id == "trigger_id").name[0],
	command: (payload filter $.id == "command").name[0]
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
			</ee:variables>
		</ee:transform>
				<flow-ref doc:name="global-slash-choices" doc:id="cb6c0ab9-00f3-40d7-9c22-3fb50ac587fb" name="global-slash-choices" />
			</when>
			<when expression="#[vars.closedYN == true]">
				<set-payload doc:name="Hungrybot not active." doc:id="4404d508-aa93-4510-b55e-0cb675264922" value="${api.not.active}"/>

			
			</when>
			<otherwise>
				<set-payload value="${api.something.wrong}" doc:name="Set Payload" doc:id="d1dc6574-1302-4788-b032-1e3473b9bd86" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="5000ff7e-b135-4f8a-abef-2a9d39ac7667" message="#[payload]"/>

	</flow>




</mule>
