hungrybot/src/main/mule/maintenance/maintenance-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd">
	<flow name="maintenance-listener" doc:id="a1234ab6-def6-4d91-8cfe-e56ec2716c4f" >
		<http:listener doc:name="Listener" doc:id="a8c0f05f-d67c-4666-9089-149e930c7d89" path="/maintenance" config-ref="HTTP_Listener_maintenance"/>
		<http:basic-security-filter doc:name="Basic security filter" doc:id="70cf9919-348f-4150-971d-8b8c337375c4" realm="maintenance"/>
		<spring:authorization-filter requiredAuthorities="ROLE_ADMIN" doc:id="39c2cc84-47a2-4ba1-8caa-1122cb99c339" />
		<ee:transform doc:name="CDM" doc:id="4133b7d0-19a7-4b6f-911e-a0cad704c0d6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
//import * from dw::core::Binaries
output application/json
---
{
	metadata: {
		attributes: [
			{
				name: "user",
				value: attributes.headers.authorization
			},{
				name: "remoteAddress",
				value: attributes.remoteAddress
			},
			{
				name: "user-agent",
				value: attributes.headers."user-agent"
			}
		]
	},
	changetype: payload.changetype,
	reason: payload.reason,
	table: payload.table,
	columns: payload.columns,
	keys: payload.keys
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="1e6b3cba-7257-4fd5-8c00-ecd29ea8e554" >
			<when expression="#[(payload.changetype ++ payload.table) == 'updateusers']">
				<flow-ref doc:name="maintenance-user-update" doc:id="c6deba3e-9f01-4baa-8b91-26b55529cfe3" name="maintenance-user-update"/>
			</when>
			<when expression="#[(payload.changetype ++ payload.table) == 'deleteusers']" >
				<flow-ref doc:name="maintenance-user-delete" doc:id="449f5d32-1ee1-4df7-8ba3-ba3ce805ec03" name="maintenance-user-delete" />
			</when>
			<when expression="#[(payload.changetype ++ payload.table) == 'insertrestaurants']" >
				<flow-ref doc:name="maintenance-restaurant-insert" doc:id="47f6fb1c-4382-4598-8861-62427493a9a8" name="maintenance-restaurant-insert" />
			</when>
			<when expression="#[(payload.changetype ++ payload.table) == 'updaterestaurants']" >
				<flow-ref doc:name="maintenance-restaurant-update" doc:id="b2916cf1-b96d-4812-8331-586300d8949d" name="maintenance-restaurant-update" />
			</when>
			<when expression="#[(payload.changetype ++ payload.table) == 'deleterestaurants']" >
				<scatter-gather doc:name="Scatter-Gather" doc:id="58b111e6-8284-4625-a8b3-2cc56ffb0559" >
					<route >
						<flow-ref doc:name="maintenance-menu-delete" doc:id="f2b7e704-bca4-4420-90e4-6542c70ee941" name="maintenance-menu-delete"/>
					</route>
					<route >
						<flow-ref doc:name="maintenance-restaurant-delete" doc:id="1361237a-883e-4e30-95aa-111ca1f0498f" name="maintenance-restaurant-delete" />
					</route>
				</scatter-gather>
				<set-payload value="${maintenance.restaurant.deleted}" doc:name="Set Payload" doc:id="b2df76f5-cfdb-4899-a878-9261d704bf09" />
			
</when>
			<otherwise >
				<set-payload value="${error.unknown.action}" doc:name="Set Payload" doc:id="f32df9e4-13d8-4cc5-a6ad-af5175f2b457" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="88b71605-d46f-4bb2-9a31-6869ae43f957" message="#[payload]"/>
	</flow>

	<flow name="maintenance-menu-upload" doc:id="c793f9a7-3e26-4858-a2a2-a9cdbd102c29" >
		<sftp:listener doc:name="Menu upload" doc:id="4d19c9c3-c79b-43e7-9855-9cba8a4b63d1" config-ref="SFTP_Config" directory="${sftp.inpath}" outputMimeType="application/xlsx" moveToDirectory="/hungrybot/menu/in/processed" recursive="false" renameTo="#[vars.newfilename]">
			<scheduling-strategy >
				<fixed-frequency frequency="10000"/>
			</scheduling-strategy>
		</sftp:listener>
		<logger level="INFO" doc:name="Logger" doc:id="a59609eb-952d-4da6-a46a-d49e1a33b75f" message="#[payload]"/>
		<ee:transform doc:name="to CDM" doc:id="cbfaf334-5428-4df9-80b2-43f8a9ce530e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	metdata: attributes: [
		{
			name: "menu",
			value: "maintenance"
		},
		{
			name: "maintenancetype",
			value: payload.Sheet1.maintenance[0]
		}
	],
	menu: payload.Sheet1 map (menu, menuindex) -> 
		{
			restaurantid: menu.restaurantid as Number,
			item: menu.item as String,
			price: menu.price as Number,
			itemid: menu.itemid as Number
		}
	
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="maintenancetype" ><![CDATA[%dw 2.0
output application/java
---
payload.Sheet1.maintenance[0]]]></ee:set-variable>
				<ee:set-variable variableName="newfilename" ><![CDATA[%dw 2.0
output application/java
---
attributes.timestamp as String {format: "YMddHHmmss"} ++ '-' ++ payload.Sheet1.maintenance[0] ++ '-' ++ attributes.fileName
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="e9cfca51-7b7b-4572-881e-90ab68b4c595" >
			<when expression="#[vars.maintenancetype == 'insert']">
				<flow-ref doc:name="maintenance-menu-bulk-insert" doc:id="2cbedc09-529e-4f88-a580-9349f04493a2" name="maintenance-menu-bulk-insert"/>
			</when>
			<when expression="#[vars.maintenancetype == 'update']">
				<flow-ref doc:name="maintenance-menu-bulk-update" doc:id="c4a9da30-3264-4915-80bc-cfad5d92fa11" name="maintenance-menu-bulk-update"/>
			</when>
			<when expression="#[vars.maintenancetype == 'delete']">
				<flow-ref doc:name="maintenance-menu-bulk-delete" doc:id="14685d3d-c187-4b23-847f-8c6333c50dc4" name="maintenance-menu-bulk-delete"/>
			</when>
			<otherwise >
				<set-payload value="${error.unknown.maintenance.type}" doc:name="Set Payload" doc:id="8078c7da-31cd-45e4-b627-09aa61dddff5" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="39ee7b47-be07-4294-bcf7-744450c8ac23" message="#[payload]"/>
	</flow>


</mule>
